body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

#calculator {
  background-color: #d4d2cd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#display {
  text-align: right;
  padding: 10px;
  font-size: 2em;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  font-size: 1.5em;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:active {
  background-color: #bfbdb5;
}

#equals {
  grid-column: span 2;
}
